<div class="center jumbotron">
   <h1>Bienvenidos a la app de prueba de Vitolen</h1>
   <h2>
      Página oficial de Vitolen haciendo click
      <a href="http://www.vitolen.com/">aquí</a>
   </h2>
   <%= link_to "Registrarse", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="logos footer">
  <%= link_to image_tag("vitolen.png", alt: "Vitolen logo", width:
    "250", align: "left"),
    "http://vitolen.com/" %>
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width:
     "200", align: "right"),
     "https://rubyonrails.org/" %>
</div>
