<% provide(:title, 'Usuarios') %>
<h1>Todos los usuarios</h1>

<ul class="users">
   <% @users.each do |user| %>
   <li>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "Eliminar usuario", user, method: :delete, data: { confirm: "Esta seguro?" } %>
      <% end %>
   </li>
   <% end %>
</ul>

<%= will_paginate %>
