<% provide(:title, @user.name) %>
<div class="row">
   <aside class="col-md-4">
      <section class="user_info">
        <h1>
          Datos del usuario
        </h1>
          <p>Nombre del usuario: <%= @user.name %></p>
          <p>Email: <%= @user.email %></p>
      </section>
   </aside>
</div>
